body {
    padding: 0;
    margin: 0;
    background-color: #333;
    color: #fff;
}

.cabecalho-container {
    font-size: large;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
    border: 10px solid;
}

.secao-container {
    text-align: center;
    letter-spacing: 2px;
}   

#objetivos {
    padding: 50px;
    border: 10px solid;
    font-size: larger;
}

#foguete {
    width: 30px;
    height: auto; 
}

#objetivo-texto {
    color: aqua;
}

#formacao {
    border: 10px solid #fff;
    font-size: larger;
    letter-spacing: 2px;
}

#formacao-ap {
    color: aqua;
}

#lista-formacao {
    list-style: none;
}

#secao-habilidade {
    border: 10px solid;
    font-size: larger;
    letter-spacing: 2px;
}

#lista-habilidade {
    list-style: none;
}

#expe-ap {
    border: 10px solid;
    font-size: larger;
    letter-spacing: 2px;
}

#experiencia-span {
    color: aqua;
}

footer {
    text-align: center;
    font-size: larger;
    letter-spacing: 2px;
    border: 10px solid;
    padding-bottom: 30px;
}
#footer, a {
    color: aqua;
    text-decoration: none;

}